<header th:fragment="main">

	<div class="box">
		<div class="box-header">
			<div class="box-name">
				<i class="fa fa-user"></i> <span>Number of client In Stages</span>
			</div>
			<div class="box-icons">
				<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
				</a> <a class="expand-link"> <i class="fa fa-expand"></i>
			</a> <a class="close-link"> <i class="fa fa-times"></i>
			</a>
			</div>
			<div class="no-move"></div>
		</div>
		<div class="box-content">

			<div class="row">
				<div id="clients" style="height: 200px">


                </div>

			</div>

		</div>
	</div>
</header>