<header th:fragment="main">

    <div class="box">
        <div class="box-header">
            <div class="box-name">
                <i class="fa fa-usd"></i> <span>Sales This Month</span>
            </div>
            <div class="box-icons">
                <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                </a> <a class="expand-link"> <i class="fa fa-expand"></i>
            </a> <a class="close-link"> <i class="fa fa-times"></i>
            </a>
            </div>
            <div class="no-move"></div>
        </div>
        <div class="box-content" style="height: 230px">

            <div class="row">
                <div class="col-xs-3">
                    <!--<div class="sparkline-dashboard" id="sparkline-won"></div>-->
                    <div class="sparkline-dashboard-info">
                        <p class="revenue-txt fa fa-usd"></p>
                        <span class="">REVENUE</span>
                    </div>
                </div>

                <div class="col-xs-3">
                    <!--<div class="sparkline-dashboard" id="sparkline-won"></div>-->
                    <div class="sparkline-dashboard-info">
                        <p class="profit-txt fa fa-usd"></p>
                        <span class="success-info">PROFIT</span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <!--<div class="sparkline-dashboard" id="sparkline-current"></div>-->
                    <div class="sparkline-dashboard-info">
                        <p class="opp-txt fa fa-usd"></p>
                        <span class="txt-info">OPPORTUNITY</span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <!--<div class="sparkline-dashboard" id="sparkline-lost"></div>-->
                    <div class="sparkline-dashboard-info">
                        <p class="target-txt fa fa-usd"></p>
                        <span>TARGET</span>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row " >
                <div class="col-xs-12 text-center">

                    <div class="row">
                        <h4>LATEST DEALS</h4>
                    </div>

                    <!--<div class="col-xs-3">-->
                        <!--<div class="" id="sparkline-latest">-->

                        <!--</div>-->
                        <!--<div class="info" >LATEST DEALS</div>-->
                    <!--</div>-->

                    <div class="col-xs-4">
                        <div class="" id="sparkline-won">

                        </div>
                        <div class="info" >WON</div>
                    </div>

                    <div class="col-xs-4">
                        <div class="" id="sparkline-current">

                        </div>
                        <div class="info" >NEGOTIATING</div>
                    </div>


                    <div class="col-xs-4">
                        <div class="" id="sparkline-lost">

                        </div>
                        <div class="info" >LOST</div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</header>