<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Client Details</title>

<style type="text/css">
</style>
</head>
<body>

	<div layout:fragment="content">
		<div class="" th:fragment="ajax-container">

			<div class="modalTarget modal-new-task box-content">
				<form method="post" th:action="@{/createTaskCal}" class="task-create-form form-horizontal">
					<fieldset>
						<div class="form-group">
							<label class="col-sm-3 control-label ">Title</label>
							<div class="col-sm-5">
								<input type="text" class="form-control task-title" name="title" />
							</div>
						</div>


						<!--<div class="form-group">-->
							<!--<label class="col-sm-3 control-label">Task Type</label>-->
							<!--<div class="col-sm-5">-->
								<!--<select class="form-control task-type" name="type">-->
									<!--<option th:each="type : ${T(com.worksap.stm.sb.type.TaskType).values()}" th:value="${type}" th:text="${type}"></option>-->
								<!--</select>-->
							<!--</div>-->
						<!--</div>-->
					</fieldset>

					<!--<fieldset>-->
						<!--<div class="form-group">-->
							<!--<label class="col-sm-3 control-label">Client</label>-->
							<!--<div class="col-sm-5">-->
								<!--<select id="" type="text" class="select-client" name="clientid"></select>-->
							<!--</div>-->
						<!--</div>-->
					<!--</fieldset>-->


					<input hidden="hidden" name="fixed" value="true" />
					<input hidden="hidden" name="srepresentative" th:value="${session.username}" />
					<input hidden="hidden" name="clientid" value="0" />
					<input hidden="hidden" name="type" value="GENERAL" />

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-primary btn-raised">Submit</button>
						</div>
					</div>
				</form>
			</div>

			<div class="row ">
				<div class="col-sm-12 col-xs-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-calendar"></i> <span>My Calendar</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
							</a> <a class="close-link"> <i class="fa fa-times"></i>
							</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div id="calendar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">

		<script th:inline="javascript">
			/*<![CDATA[*/

	           
	           var editTaskCalUrl = [[@{/editTaskCal/}]];
	
	           var eventData = [[${tasks}]];



			/**
			 *
			 */

			var formatString = "DD/MM/YYYY-HH:mm";

			function editEvent(event, delta, revertFunc)
			{
				console.log(event);
				console.log(delta);

				var values =
				{};

				values['title'] = event.title;
				values['type'] = event.type;
				values['id'] = event.id;
				values['srepresentative'] = event.srepresentative;
				values['clientid'] = event.clientid;

				if (isset(event.clientstatus) && isset(event.clientstatus.$name))
					values['clientstatus'] = event.clientstatus.$name;
				else
					values['clientstatus'] = event.clientstatus;

				values['start'] = event.start.format(formatString);
				values['end'] = event.end.format(formatString);
				values['status'] = event.status;
				values['fixed'] = event.editable;

				console.log(values);

				var url = editTaskCalUrl + event.id;

				ajaxJsonPost(url, values, function(data)
				{
					if (data.success)
					{
						showStatus(true, "Event Rescheduled");
					}

				}, function()
				{

					showStatus(false, data.msg)

					revertFunc();
				});

				var eventArray = [];

				var selectizeCleintElem;

			}


			var removedEvents;


			/*
			 * initialize the calendar
			 * -----------------------------------------------------------------
			 */
			var calendar = $('#calendar').fullCalendar(
					{
						customButtons :
						{
							onlydue :
							{
								text : 'Due',
								click : function()
								{

									calendar.fullCalendar('removeEvents', function(event)
									{

										if (event.status !== 'DUE')
											return true;
									});


								}
							},
							all :
							{
								text : 'All',
								click : function()
								{

									location.reload();

								}
							},
							onlyTeamMeeting :
							{
							text : 'Team Meetings',
							click : function()
							{

								calendar.fullCalendar('removeEvents', function(event)
								{

									if (!event.teammeeting)
										return true;
								});


							}
						},
						},
						events : eventData,
						eventLimit : true, // for
						// all
						// non-agenda
						// views
						views :
						{
							agenda :
							{
								eventLimit : 20
								// adjust
								// to 6
								// only
								// for
								// agendaWeek/agendaDay
							}
						},
						height : 850,
						header :
						{
							left : 'prev,next today,onlydue,all,onlyTeamMeeting',
							center : 'title',
							right : 'month,agendaDay',
							defaultView : 'agendaDay'
						},
						selectable : true,
						select : function(start, end, allDay, view)
						{

							// console.log(start);
							// console.log(end);
							// console.log(allDay);

							console.log(view);

							if (view.name !== 'month')
							{

								var addTaskModal = $('.modal-new-task');

								bootbox.dialog(
								{

									title : "Add Team Meeting",
									message : addTaskModal.html(),
									onEscape : true

								});


								$('.task-create-form').submit(function(e)
								{

									var url = $(this).attr('action');
									var values =
									{};
									$.each($(this).serializeArray(), function(i, field)
									{
										values[field.name] = field.value;
									});

									var taskStart = moment(start).format(formatString);
									var taskEnd = moment(end).format(formatString);

									values['start'] = taskStart;
									values['end'] = taskEnd;

									console.log(values);

									ajaxJsonPost(url, values, function(data)
									{

										if (data.success)
										{
											console.log('Added!!');

											addTaskModal.find("input[type=text], textarea").val("");

											calendar.fullCalendar('renderEvent', data.data, true);

										}else
										{
											showStatus(data.success,data.msg);
										}
									}, function()
									{
									});

									bootbox.hideAll();
									e.preventDefault();
								});

							}
						},
						editable : true,
						dayClick : function(date, jsEvent, view, resourceObj)
						{

							if (view.name == 'month')
							{
								calendar.fullCalendar('changeView', 'agendaDay');
								calendar.fullCalendar('gotoDate', date);
							}

						},
						droppable : true, // this
						// allows
						// things
						// to be
						// dropped
						// onto
						// the
						// calendar !!!
						drop : function(date, allDay)
						{ // this function is
							// called when something
							// is dropped
							// retrieve the dropped
							// element's stored
							// Event Object
							var originalEventObject = $(this).data('eventObject');
							// we need to copy it,
							// so that multiple
							// events don't have a
							// reference to the same
							// object
							var copiedEventObject = $.extend(
									{}, originalEventObject);
							// assign it the date
							// that was reported
							copiedEventObject.start = date;
							copiedEventObject.allDay = allDay;
							// render the event on
							// the calendar
							// the last `true`
							// argument determines
							// if the event "sticks"
							// (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
							$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
							// is the "remove after
							// drop" checkbox
							// checked?
							if ($('#drop-remove').is(':checked'))
							{
								// if so, remove the
								// element from the
								// "Draggable
								// Events"
								// list
								$(this).remove();
							}
						},
						defaultView : 'month',
						eventRender : function(event, element)
						{

							element.attr('title', event.type);

							return element;
						},
						eventDrop : function(event, delta, revertFunc)
						{

							editEvent(event, delta, revertFunc);

						},
						eventResize : function(event, delta, revertFunc)
						{

							editEvent(event, delta, revertFunc);

						},
						eventClick : function(calEvent, jsEvent, view)
						{


						}
					});

			           
			/*]]>*/
		</script>
		


		<script th:inline="javascript">
			/*<![CDATA[*/
			           
			           var editTaskCalUrl = [[@{/editTaskCal/}]];
			
			           var eventData = [[${tasks}]];
			           

			/*]]>*/
		</script>



	</div>



</body>
</html>