<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Client Details</title>

<style type="text/css">
</style>
</head>
<body>

	<div layout:fragment="content">
		<div class="" th:fragment="ajax-container">

			<div class="modalTarget modal-new-task box-content">
				<form method="post" th:action="@{/createTaskCal}" class="task-create-form form-horizontal">
					<fieldset>
						<div class="form-group">
							<label class="col-sm-3 control-label ">Title</label>
							<div class="col-sm-5">
								<input type="text" class="form-control task-title" name="title" />
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-3 control-label">Task Type</label>
							<div class="col-sm-5">
								<select class="form-control task-type" name="type">
									<option th:each="type : ${T(com.worksap.stm.sb.type.TaskType).values()}" th:value="${type}" th:text="${type}"></option>
								</select>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<div class="form-group">
							<label class="col-sm-3 control-label">Client</label>
							<div class="col-sm-5">
								<select id="" type="text" class="select-client" name="clientid"></select>
							</div>
						</div>
					</fieldset>


					<input hidden="hidden" name="srepresentative" th:value="${session.username}" />

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-primary btn-raised">Submit</button>
						</div>
					</div>
				</form>
			</div>

			<div class="row ">
				<div class="col-sm-12 col-xs-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-calendar"></i> <span>My Calendar</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
							</a> <a class="close-link"> <i class="fa fa-times"></i>
							</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div id="calendar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">

		<script th:inline="javascript">
			/*<![CDATA[*/

	           
	           var editTaskCalUrl = [[@{/editTaskCal/}]];
	
	           var eventData = [[${tasks}]];
			           
			/*]]>*/
		</script>
		
		<script  th:src="@{/resources/app/js/calendar.js}"></script>

		<script th:inline="javascript">
			/*<![CDATA[*/
			           
			           var editTaskCalUrl = [[@{/editTaskCal/}]];
			
			           var eventData = [[${tasks}]];
			           

			/*]]>*/
		</script>



	</div>



</body>
</html>