<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Moppers Contact Us</title>
	<meta name="description" content="description" />
	<meta name="author" content="Evgeniya" />
	<meta name="keyword" content="keywords" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<base th:href="@{/}"></base>
	<link th:href="@{/resources/devoops/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
	<link th:href="@{/resources/lib/css/datatableCustom.css}" rel="stylesheet" />
	<link th:href="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css' />
	<link th:href="@{/resources/devoops/plugins/fancybox/jquery.fancybox.css}" rel="stylesheet" />
	<link th:href="@{/resources/devoops/plugins/xcharts/xcharts.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/devoops/plugins/selectize/dist/css/selectize.default.css}" rel="stylesheet" />

	<link th:href="@{/resources/devoops/css/style.css}" rel="stylesheet" />
	<link th:href="@{/resources/lib/css/datatables.min.css}" rel="stylesheet" />


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
	<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="container-fluid">
	<div id="page-login" class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="box">

				<div class="box-content">
					<div class="text-center">
						<h3 class="page-header">Moppers Cleaning Services Contact Us</h3>
					</div>

					<form method="post">

                        <div class="form-group">
                            <label class=" control-label ">Company Name</label>
                            <div class="">
                                <input type="text" id="name" class="form-control" name="name"  required="required"/>
                            </div>
                        </div>

                        <fieldset>
                            <legend>Contact Person's Informations</legend>
                            <div class="form-group">
                                <label class=" control-label">Contact Name</label>
                                <div class="">
                                    <input type="text" class="form-control" name="contactname" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Title</label>
                                <div class="">
                                    <input type="text" class="form-control" name="contacttitle"  />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Contact No</label>
                                <div class="">
                                    <input type="tel" class="form-control" name="contactno" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Email</label>
                                <div class="">
                                    <input type="email" class="form-control" name="email" required="required" />
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="form-group">
                                <label class="control-label">Company Address</label>
                                <div class="">
                                    <textarea class="form-control" rows="5" name="address" required="required"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Organisation Phone</label>
                                <div class="">
                                    <input type="tel" class="form-control" name="phone" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Website</label>
                                <div class="">
                                    <input type="url" class="form-control" name="website" required="required" />
                                </div>
                            </div>


                        </fieldset>
                        <fieldset>
                            <legend>Other</legend>
                            <div class="form-group">
                                <label class="control-label">Type of Company</label>
                                <div class="">
                                    <input class="populate placeholder" id="select_industry" name="industry" required="required"></input>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Annual Revenue</label>
                                <div class="">
                                    <input type="number" min="10000" max="2500000000" step="10000"  class="form-control" name="annualrevenue" id="annual_rev" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" control-label">Employee Number</label>
                                <div class="">
                                    <input type="number" min="10" max="5000" step="10"  class="form-control" name="employeesize" id="employeeno" required="required" />
                                </div>
                            </div>
                        </fieldset>


                         <input hidden="hidden" id="placeid" name="placeid" value="" />
                       <div class="text-center">
							<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- jQuery -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script th:src="@{/resources/devoops/plugins/jquery/jquery-2.1.0.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.js}"></script>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/resources/devoops/plugins/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/justified-gallery/jquery.justifiedgallery.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/tinymce/tinymce.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/selectize/dist/js/selectize.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/bootbox/bootbox.min.js}"></script>



<script th:src="@{/resources/lib/js/utils.js}" type="text/javascript"></script>
<script th:src="@{/resources/lib/js/datatables.min.js}" type="text/javascript"></script>


<!-- All functions for this theme + document.ready processing -->
<script th:src="@{/resources/devoops/js/devoops.js}"></script>


<script th:src="@{/resources/devoops/plugins/materials/dist/js/material.js}"></script>
<script th:src="@{/resources/devoops/plugins/materials/dist/js/ripples.js}"></script>


<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function()
    {


//        $(".box-content").hide();
//
//        $(".contact-us").on("click",function(){
//
//
//            $(".box-content").show();
//            $(this).remove();
//
//        });

        var selectizeIndustryElem = $('#select_industry').selectize(
                {
                    plugins : [ 'remove_button' ],
                    delimiter : ',',
                    persist : false,
                    preload : true,
                    openOnFocus : true,
                    valueField : 'value',
                    labelField : 'label',
                    searchField : 'label',
                    options : [],
                    create : true,
                    maxItems: 1,
                    load : function(query, callback)
                    {
                        if (!query.length)
                            return callback();
                        $.ajax(
                                {
                                    url : [[@{resources/json/mapsearchtypes.json}]],
                        type : 'GET',
                                dataType : 'json',
                            error : function()
                    {
                        callback();
                    },
                        success : function(res)
                        {
                            callback(res);
                        }
                    });
    }
    })[0].selectize;


    $("#name").change(function()
    {

        var placeidStr = $(this).val().toLowerCase().replace(/ /g, "+");
//           alert(placeidStr);

        $("#placeid").val(placeidStr);

    });


    });

    /*]]>*/
</script>













</body>
</html>









