<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Dashboard</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="text-center" th:fragment="ajax-container">
			<!--Start Dashboard 1-->
			<div id="dashboard-header" class="row">
				<div class="col-xs-10 col-sm-2">
					<h3 th:text="${'Hello, '+session.fullname}">HELLO, DASHBOARD!</h3>
				</div>
				<div class="col-xs-2 col-sm-1 col-sm-offset-1">
					
				</div>
				<div class="clearfix visible-xs"></div>
				
			</div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div th:replace="fragments/sales/sales-this-month:: main"></div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div th:replace="fragments/sales/client-in-stages:: main"></div>
                </div>
            </div>
            <!--End Dashboard 1-->
            <div style="height: 40px;"></div>

            <div class="row">
                <div class="col-xs-12 col-sm-8">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-user"></i> <span>Latest Deals</span>
                        </div>
                        <div class="box-icons">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a> <a class="expand-link"> <i class="fa fa-expand"></i>
                        </a> <a class="close-link"> <i class="fa fa-times"></i>
                        </a>
                        </div>
                        <div class="no-move"></div>
                    </div>
                    <div class="box-content">
                    <div class="  row-horizon">

                        <div th:each="proposal :${proposals}" class="col-xs-12 col-sm-3">
                            <div class="box box-pricing">
                                <div class="box-header">
                                    <div class="box-name">
                                        <span th:text="${proposal.status}"></span>
                                    </div>
                                    <div class="no-move"></div>
                                </div>
                                <div class="box-content no-padding">
                                    <div class="row-fluid ">
                                        <div class="col-sm-6" th:text="${'REVENUE $'+proposal.price}">1GB RAM</div>
                                        <!--<div class="col-sm-6" th:text="${'Cost $'+proposal.cost}">1 vCPU</div>-->
                                        <div class="col-sm-6" th:text="${'PROFIT $'+proposal.profit}">10GB SSD</div>
                                        <!--<div class="col-sm-6" th:text="${'Valid For '+proposal.validfor+' Weeks'}">-->
                                            <!--100Mb/s network bandwith-->
                                        <!--</div>-->
                                        <div class="col-sm-12">
                                            <a th:href="@{'/detailProposal/'+${proposal.id}}"
                                               class="btn btn-primary btn-block">View Proposal</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
                </div>


                <div class="col-xs-12 col-sm-4" >
                    <div th:replace="fragments/sales/product-stats:: main" ></div>
                </div>
            </div>

			<!--End Dashboard 1-->
			<div style="height: 40px;"></div>

		</div>
	</div>

	<div layout:fragment="script">



        <script th:inline="javascript">
            /*<![CDATA[*/

            var getCurrentSalesStatsUrl = [[@{/getCurrentSales}]];
            var getClientInStagesUrl = [[@{/getClientInStages}]];

            var getRevenueByProductUrl = [[@{/getRevenueByProduct}]];

            /*]]>*/
        </script>


        <script th:src="@{/resources/devoops/plugins/sparkline/jquery.sparkline.min.js}"></script>
        <script th:src="@{/resources/devoops/plugins/morris/morris.min.js}"></script>
        <script th:src="@{/resources/devoops/plugins/raphael/raphael-min.js}"></script>

        <script th:src="@{/resources/app/js/sales-this-month.js}"></script>
        <script th:src="@{/resources/app/js/client-in-stages.js}"></script>

        <script th:src="@{/resources/app/js/product-stats.js}"></script>
	</div>


</body>
</html>