<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layout">

<head>
<title>Home</title>

</head>
<body>

	<div layout:fragment="content">

		<div style="padding-top: 50px" class="text-center"
			th:fragment="ajax-container">
			<h3 class="page-header"
				th:text="'Welcome to '+#{app.title}+' '+${session.fullname}">Welcome</h3>
		</div>
	</div>

	<div layout:fragment="script"></div>


</body>
</html>