<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Sales Booster Login</title>
<meta name="description" content="description" />
<meta name="author" content="Evgeniya" />
<meta name="keyword" content="keywords" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<base th:href="@{/}"></base>
<link th:href="@{/resources/devoops/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/resources/lib/css/datatableCustom.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css' />
<link th:href="@{/resources/devoops/plugins/fancybox/jquery.fancybox.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/xcharts/xcharts.min.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/selectize/dist/css/selectize.default.css}" rel="stylesheet" />

<link th:href="@{/resources/devoops/css/style.css}" rel="stylesheet" />
<link th:href="@{/resources/lib/css/datatables.min.css}" rel="stylesheet" />


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
</head>
<body>
	<div class="container-fluid">
		<div id="page-login" class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="box">
					<div class="box-content">
						<div class="text-center">
							<h3 class="page-header">Moppers Cleaning Services Login Page</h3>
						</div>

						<form method="post">
							<div class="form-group">
								<label class="control-label">Username</label> <input class="form-control" placeholder="Username" name="username" required="required"
									type="text" autofocus="autofocus" />
							</div>
							<div class="form-group">
								<label class="control-label">Password</label> <input type="password" id="inputPassword" name="password" class="form-control"
									placeholder="Password" required="required" />
							</div>
							<!-- 					<div class="form-group"> -->
							<!--                          <label>Remember Me</label> -->
							<!--                          <input name="remember-me" type="checkbox" value="Remember Me"/> -->
							<!--                     </div>                                   -->
							<div class="text-center">
								<button class="btn btn-primary" type="submit">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- jQuery -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!--<script src="http://code.jquery.com/jquery.js"></script>-->
	<script th:src="@{/resources/devoops/plugins/jquery/jquery-2.1.0.min.js}"></script>
	<script th:src="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.js}"></script>


	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script th:src="@{/resources/devoops/plugins/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/resources/devoops/plugins/justified-gallery/jquery.justifiedgallery.min.js}"></script>
	<script th:src="@{/resources/devoops/plugins/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/resources/devoops/plugins/selectize/dist/js/selectize.min.js}"></script>
	<script th:src="@{/resources/devoops/plugins/bootbox/bootbox.min.js}"></script>



	<script th:src="@{/resources/lib/js/utils.js}" type="text/javascript"></script>
	<script th:src="@{/resources/lib/js/datatables.min.js}" type="text/javascript"></script>


	<!-- All functions for this theme + document.ready processing -->
	<script th:src="@{/resources/devoops/js/devoops.js}"></script>


	<script th:src="@{/resources/devoops/plugins/materials/dist/js/material.js}"></script>
	<script th:src="@{/resources/devoops/plugins/materials/dist/js/ripples.js}"></script>
</body>
</html>









