<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Your Notifications</title>
<style>
a {
	text-decoration: none;
}

.unseen {
	background-color: rgba(0, 89, 179, 0.2);
}

.panel {
	height: 850px;
	overflow: hidden;
}

.panel-body {
	height: 95%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
}

.column {
	width: 100%;
	height: 99%;
	overflow: auto;
	padding-right: 25px;
	position: absolute;
}

.date {
	padding-top: 15px
}
</style>
</head>


<body>

	<div layout:fragment="content">
		<div class="" th:fragment="ajax-container">
			<div class="row">
				<div class="col-xs-12  col-sm-8">
					<div class="panel ">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-list"></i> Notifications
							</h3>
						</div>
						<div class="panel-body ">
							<div class="column" id="">

								<div th:each="notification : ${data}" th:class="${notification.seen}? 'list-group':'list-group unseen'">

									<div th:class="${notification.seen}? 'alert alert-dismissible alert-default':'alert alert-dismissible alert-info'"
										class="alert alert-dismissible alert-info" th:attr="data-id=${notification.id}">

										<button type="button" class="close close-btn" data-dismiss="alert" th:attr="data-id=${notification.id}">×</button>
										<div>
											<strong th:text="${notification.title}">Heads up!</strong>
										</div>
										<div th:text="${notification.msg}"></div>
										<div>
											<a th:href="@{'/visitNotificationLink/'+${notification.id}}" class="alert-link btn "> Link</a>
										</div>
										<h6 class="date" th:text="${#joda.mediumDateTime(notification.created)}">15m</h6>

									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			$('.close-btn').on('click', function(e)
			{

				console.log( $(this));
				console.log( $(this).data('id'));
				
				var url  = [[@{/removeNotification}]];
				
				var data = { 'id':$(this).data('id')}
				
				ajaxJsonPost(url,data,function(data){
					
					console.log(data);
					
					if(data.success)
					{					
						listItem.fadeOut(300, function() { $(this).remove(); });
					}else
					{
						e.preventDefault();
					}
					
					
				},function(){
					
					e.preventDefault();
					
				});
				

			});

			/*]]>*/
		</script>
	</div>
</body>
</html>
