<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/layout">

<head>
    <title>User Settings</title>
</head>
<body>

<div layout:fragment="content">

    <div style="padding-top: 50px" class="" th:fragment="ajax-container">
        <div class="row">
            <div class="col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-user"></i> <span> Over All Performance History</span>
                        </div>
                        <div class="box-icons">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a> <a class="expand-link"> <i class="fa fa-expand"></i>
                        </a> <a class="close-link"> <i class="fa fa-times"></i>
                        </a>
                        </div>
                        <div class="no-move"></div>
                    </div>
                    <div class="box-content">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td><label> Deal Win Rate</label></td>
                                    <td><label th:text="${statsObj.dealWinRatio}">Not Set</label></td>
                                </tr>
                                <tr>
                                    <td><label>Suspect Conversion Rate</label></td>
                                    <td><label th:text="${statsObj.clientConversionRatio}">Not Set</label></td>
                                </tr>
                                <tr>
                                    <td><label>Avg. Deal Won </label></td>
                                    <td><label th:text="${statsObj.avgDealWon}">Not Set</label></td>
                                </tr>
                                <tr>
                                    <td><label>Avg. Profit</label></td>
                                    <td><label th:text="${statsObj.avgProfit}">Not Set</label></td>
                                </tr>
                                <tr>
                                    <td><label>Amount Won</label></td>
                                    <td><label th:text="${statsObj.amountWon}">Not Set</label></td>
                                </tr>
                                <tr>
                                    <td><label>Number of Deals Won</label></td>
                                    <td><label th:text="${statsObj.numberOfDealsWon}">Not Set</label></td>
                                </tr>
                                <tr>
                                    <td><label>Number of Deals Lost</label></td>
                                    <td><label th:text="${statsObj.numberOfDealsLost}">Not Set</label></td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td><label>Number Of Suspects</label></td>-->
                                    <!--<td><label th:text="${statsObj.numberOfSuspects}">Not Set</label></td>-->
                                <!--</tr>-->
                                <tr>
                                    <td><label>Number Of Missed Tasks</label></td>
                                    <td><label th:text="${statsObj.numberOfMissedTask}">Not Set</label></td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-user"></i> <span th:text="'Contact Details of '+${user.username}"> </span>
                        </div>
                        <div class="box-icons">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a> <a class="expand-link"> <i class="fa fa-expand"></i>
                        </a> <a class="close-link"> <i class="fa fa-times"></i>
                        </a>
                        </div>
                        <div class="no-move"></div>
                    </div>
                    <div class="box-content">
                        <div class="card">
                            <h4 class="page-header" th:text="${user.name}">ABCDEF company</h4>
                            <p>
                                <span>+1 (123) 456789</span> <br/> <a th:text="${user.email}"></a>
                            </p>
                        </div>
                        <div class="card address">
                            <div class="vcard">
                                <a href="#">.vCard</a>
                            </div>
                            <h4 class="page-header">Our adress:</h4>
                            <p>
                                <span>123456, Silicon walley</span> <br/> <span>str. Nonest. building 663</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-user"></i> <span >Proposals </span>
                        </div>
                        <div class="box-icons">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a> <a class="expand-link"> <i class="fa fa-expand"></i>
                        </a> <a class="close-link"> <i class="fa fa-times"></i>
                        </a>
                        </div>
                        <div class="no-move"></div>
                    </div>
                    <div class="box-content">
                        <div id="proposal">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-user"></i> <span> Number of Clients in Stages </span>
                        </div>
                        <div class="box-icons">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a> <a class="expand-link"> <i class="fa fa-expand"></i>
                        </a> <a class="close-link"> <i class="fa fa-times"></i>
                        </a>
                        </div>
                        <div class="no-move"></div>
                    </div>
                    <div class="box-content">
                        <div id="pipeline">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="script">


    <script th:src="@{/resources/devoops/plugins/sparkline/jquery.sparkline.min.js}"></script>
    <script th:src="@{/resources/devoops/plugins/morris/morris.min.js}"></script>
    <script th:src="@{/resources/devoops/plugins/raphael/raphael-min.js}"></script>


    <script th:inline="javascript">
        /*<![CDATA[*/


        var clientObj = [[${clientObj}]];

        var morrisClientData = [];

        for (var i in clientObj) {
            morrisClientData.push({x: i, y: clientObj[i]});
        }


        // Use Morris.Area instead of Morris.Line
        Morris.Bar(
                {
                    element: 'pipeline',
                    data: morrisClientData,
                    xkey: 'x',
                    ykeys: ['y'],
                    labels: ['# of Clients'],

                }).on('click', function (i, row) {
            console.log(i, row);
        });


        var proposalObj = [[${proposalObj}]];

        var morrisProposalData = [];


        var proposalObj = proposalObj.salesStatses;

        for (var i in proposalObj) {


            var status = JSON.stringify(proposalObj[i].proposalstatus.$name);

            morrisProposalData.push(
            {
                x:  i,
                a: proposalObj[i].revenue,
                b: proposalObj[i].profit,
            });
        }


        console.log(status);
        console.log(proposalObj);
        console.log(morrisProposalData);


        // Use Morris.Area instead of Morris.Line
        Morris.Line(
                {
                    element: 'proposal',
                    data: morrisProposalData,
                    xkey: 'x',
                    ykeys: ['a','b'],
                    labels: ['Revenue','Profit'],
                    parseTime: false,

                }).on('click', function (i, row) {
            console.log(i, row);
        });


        /*]]>*/
    </script>


</div>


</body>
</html>



