<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/layout">

<head>
    <title>Sales Representatives</title>

    <style type="text/css">
    </style>
</head>
<body>




<div layout:fragment="content">
    <div class="" th:fragment="ajax-container">


        <div class="table-responsive">
            <table class="table table-bordered  table-hover  table-datatable req-table">

                <thead>
                <tr>
                    <th class="order noshow">Name</th>
                    <th class="">Username</th>

                    <th class="nosort nosearch">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sa : ${salesreps}">
                    <td th:text="${sa.name}">Onions</td>
                    <td th:text="${sa.username}">Onions</td>
                    <td>
                        <a class="btn btn-raised btn-xs" title="See Details" th:href="@{'/profilesa/'+${sa.username}}">
                            <i class="fa fa-eye fa-lg"></i>
                        </a>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>



<div layout:fragment="script">


    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function()
        {

        });

        /*]]>*/
    </script>

</div>

</body>
</html>