<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>Service Settings</title>

<style type="text/css">
</style>
</head>
<body>



	<div layout:fragment="content">
		<div class="" th:fragment="ajax-container">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-info"></i> <span>Service Configurations</span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">

								<form class="config-form" method="post">
                                    <fieldset>
                                        <div class="form-group" th:each="config:${configs}">
                                            <label class=" control-label" th:text="${config.name}"></label>

                                            <input type="number" class="form-control value"  th:value="${config.value}" th:name="${config.name}"/>
                                        </div>

                                        <input type="submit" class="form-control btn btn-raised btn-primary " />
                                    </fieldset>
                                </form>

						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6">
					<div th:replace="fragments/sales/sales-this-month:: main"></div>
				</div>

			</div>
		</div>
	</div>


	<div layout:fragment="script">


		<script th:inline="javascript">
			/*<![CDATA[*/


			var getCurrentSalesStatsUrl = [[@{/getCurrentSales}]];
			var serviceSettingsUrl = [[@{/serviceSettings}]];




			$(function() {
				$('.config-form').submit(function() {
					var dataToPost = $('form').serializeObject();

					console.log(dataToPost);

					ajaxJsonPost(serviceSettingsUrl,dataToPost,function(data){


						showStatus(data.success,data.msg);

						if(data.success) location.reload();


					}, function (xhr) {

					})

					return false;
				});
			});



			/*]]>*/
		</script>


		<script th:src="@{/resources/devoops/plugins/sparkline/jquery.sparkline.min.js}"></script>

		<script th:src="@{/resources/app/js/sales-this-month.js}"></script>

	</div>

</body>
</html>