<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layout">

<head>
<title>User Settings</title>
</head>
<body>

	<div layout:fragment="content">

		<div style="padding-top: 50px" class="" th:fragment="ajax-container">
			<div class="row">
				<div class="col-xs-8">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-user"></i> <span th:text="'Contact Details of '+${session.username}"> </span>
							</div>
							<div class="box-icons">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a> <a class="expand-link"> <i class="fa fa-expand"></i>
								</a> <a class="close-link"> <i class="fa fa-times"></i>
								</a>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div class="card">
								<h4 class="page-header" th:text="${session.fullname}">ABCDEF company</h4>
								<p>
									<span>+1 (123) 456789</span> <br /> <a th:text="${session.email}"></a>
								</p>
							</div>
							<div class="card address">
								<div class="vcard">
									<a href="#">.vCard</a>
								</div>
								<h4 class="page-header">Our adress:</h4>
								<p>
									<span>123456, Silicon walley</span> <br /> <span>str. Nonest. building 663</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script"></div>


</body>
</html>



