<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Moppers Contact Us</title>
	<meta name="description" content="description" />
	<meta name="author" content="Evgeniya" />
	<meta name="keyword" content="keywords" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<base th:href="@{/}"></base>
	<link th:href="@{/resources/devoops/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
	<link th:href="@{/resources/lib/css/datatableCustom.css}" rel="stylesheet" />
	<link th:href="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css' />
	<link th:href="@{/resources/devoops/plugins/fancybox/jquery.fancybox.css}" rel="stylesheet" />
	<link th:href="@{/resources/devoops/plugins/xcharts/xcharts.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/devoops/plugins/selectize/dist/css/selectize.default.css}" rel="stylesheet" />

	<link th:href="@{/resources/devoops/css/style.css}" rel="stylesheet" />
	<link th:href="@{/resources/lib/css/datatables.min.css}" rel="stylesheet" />


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
	<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="container-fluid">
	<div id="page-login" class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="box">
				<div class="box-content">
					<div class="text-center">
						<h3 class="page-header">Thank You for Contacting Us.
                            Our Sales Representative will get back to You</h3>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>


<!-- jQuery -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script th:src="@{/resources/devoops/plugins/jquery/jquery-2.1.0.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.js}"></script>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/resources/devoops/plugins/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/justified-gallery/jquery.justifiedgallery.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/tinymce/tinymce.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/selectize/dist/js/selectize.min.js}"></script>
<script th:src="@{/resources/devoops/plugins/bootbox/bootbox.min.js}"></script>



<script th:src="@{/resources/lib/js/utils.js}" type="text/javascript"></script>
<script th:src="@{/resources/lib/js/datatables.min.js}" type="text/javascript"></script>


<!-- All functions for this theme + document.ready processing -->
<script th:src="@{/resources/devoops/js/devoops.js}"></script>


<script th:src="@{/resources/devoops/plugins/materials/dist/js/material.js}"></script>
<script th:src="@{/resources/devoops/plugins/materials/dist/js/ripples.js}"></script>


<script th:inline="javascript">
    /*<![CDATA[*/

    var map;
    var lat = $('#lat');
    var lng = $('#lng');
    var image = "resources/app/img/marker.png";
    var subjectMarker;

    function latlng()
    {

        if (isset(lat.val()) && isset(lng.val()))
        {
            return new google.maps.LatLng(lat.val(), lng.val());
        } else
        {

        }

    }
    function position()
    {
        map.setCenter(latlng());
    }

    function createMarker(position)
    {
        subjectMarker = new google.maps.Marker(
                {
                    position : position,
                    map : map,
                    icon : image,
                    draggable : true
                });

        google.maps.event.addListener(subjectMarker, 'dragend', function(e)
        {
            map.panTo(e.latLng);
            subjectMarker.setPosition(e.latLng);

            $('#lat').val(e.latLng.lat());
            $('#lng').val(e.latLng.lng());

        });

    }

    function initMap()
    {

        console.log(latlng());

        var position = latlng();

        if (empty(position.lat()) || empty(position.lng()))
        {

            position = new google.maps.LatLng(1.280095, 103.850949);
        }

        map = new google.maps.Map(document.getElementById("map"),
                {
                    zoom : 14,
                    center : position,
                    mapTypeId : google.maps.MapTypeId.ROADMAP
                });

        map.addListener('click', function(e)
        {
            map.panTo(e.latLng);
            subjectMarker.setPosition(e.latLng);

            $('#lat').val(e.latLng.lat());
            $('#lng').val(e.latLng.lng());

        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function()
        {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function()
        {
            var places = searchBox.getPlaces();

            if (places.length == 0)
            {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function(marker)
            {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place)
            {
                var icon =
                {
                    url : place.icon,
                    size : new google.maps.Size(71, 71),
                    origin : new google.maps.Point(0, 0),
                    anchor : new google.maps.Point(17, 34),
                    scaledSize : new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker(
                        {
                            map : map,
                            icon : icon,
                            title : place.name,
                            position : place.geometry.location
                        }));

                if (place.geometry.viewport)
                {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else
                {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });

        createMarker(position);

    }

    $(document).ready(function()
    {

        var selectizeIndustryElem = $('#select_industry').selectize(
                {
                    plugins : [ 'remove_button' ],
                    delimiter : ',',
                    persist : false,
                    preload : true,
                    openOnFocus : true,
                    valueField : 'value',
                    labelField : 'label',
                    searchField : 'label',
                    options : [],
                    create : true,
                    load : function(query, callback)
                    {
                        if (!query.length)
                            return callback();
                        $.ajax(
                                {
                                    url : [[@{resources/json/mapsearchtypes.json}]],
                        type : 'GET',
                                dataType : 'json',
                            error : function()
                    {
                        callback();
                    },
                        success : function(res)
                        {
                            callback(res);
                        }
                    });
    }
    })[0].selectize;

    var selectizeStatusElem = $('#select_status').selectize(
            {
                plugins : [ 'remove_button' ],
                delimiter : ',',
                preload : true,
                openOnFocus : true
            })[0].selectize;

    var selectizePriorityElem = $('#select_priority').selectize(
            {
                plugins : [ 'remove_button' ],
                delimiter : ',',
                preload : true,
                openOnFocus : true
            })[0].selectize;

    $("#annual_rev").spinner(
            {
                min : 10000,
                max : 2500000000,
                step : 10000,
                start : 100000,
                numberFormat : "C"
            });

    $("#employeeno").spinner(
            {
                min : 10,
                max : 50000,
                step : 10,
                start : 100,
                numberFormat : "n"
            });

    $("#name").change(function()
    {

        var placeidStr = $(this).val().replace(/ /g, "+");
        console.log(placeidStr);

        $("#placeid").val(placeidStr);

    });


    });

    /*]]>*/
</script>













</body>
</html>









