<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/layout">

<head>
    <title>Prospect List</title>
</head>

<style>
</style>
<body>
<div layout:fragment="content">

    <div style="padding-top: 0px" class="" th:fragment="ajax-container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-name">
                            <i class="fa fa-users"></i> <span>Prospect List</span>
                        </div>
                        <div class="box-icons">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a> <a class="expand-link"> <i class="fa fa-expand"></i>
                        </a> <a class="close-link"> <i class="fa fa-times"></i>
                        </a>
                        </div>
                        <div class="no-move"></div>
                    </div>
                    <div class="box-content">
                        <div class="table-responsive">
                            <table class="table table-bordered  table-hover  table-datatable suspect-table" id="">
                                <thead>
                                <tr>
                                    <th class="order noshow">ID</th>
                                    <th>Name</th>
                                    <th class="">Address</th>
                                    <th class="noshow">Phone</th>
                                    <th class="noshow">Website</th>
                                    <th class="">Industry</th>
                                    <!--<th class="">Priority</th>-->
                                    <th class="">Added By</th>
                                    <th class="">Lead Score</th>
                                    <th class="">Annual Revenue</th>
                                    <th class="nosort nosearch">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Start: list_row -->

                                <tr th:each="suspect : ${data}">


                                    <td class="nosort" th:text="${suspect.id}">Onions</td>
                                    <td th:text="${suspect.name}">Onions</td>
                                    <td th:text="${suspect.address}">Onions</td>
                                    <td th:text="${suspect.phone}">Onions</td>
                                    <td th:text="${suspect.website}">Onions</td>
                                    <td th:text="${suspect.industry}">Onions</td>
                                    <!--<td th:text="${suspect.priority}">Onions</td>-->
                                    <td th:text="${suspect.sadder}">Onions</td>
                                    <td th:text="${suspect.leadscore}">Onions</td>
                                    <td class="cannull" th:text="${suspect.annualrevenue}">Onions</td>
                                    <td>

                                        <a class="btn btn-primary btn-raised btn-xs assign-btn">Assign</a>
                                        <a class="btn btn-xs btn-raised details-btn" th:href="@{'./getClientDetails/'+${suspect.id}}">Details</a>
                                        <a  class="btn btn-raised btn-xs btn-default chng-status-client"
                                            th:href="@{/updateClientStatus/__${suspect.id}__/REMOVED/2}" title="Remove Client from thge System"><i class="fa fa-times"></i></a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalTarget sa-modal col-xs-12 col-md-6">
                <div class="box">

                    <label >Client Was added to the pipeline by <span class=" adder"></span></label>
                    <div class="box-content">
                        <table class="table table-bordered  table-hover  table-datatable sa-table" >
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th class="">Username</th>
                                <th class=""># of Client Brought</th>
                                <th class="">Deal Win Rate</th>
                                <th class="">Industry Amount</th>
                                <th class="">Industry Deals</th>
                                <th class="">Current Clients</th>
                                <td>Assign</td>

                            </tr>
                            </thead>
                            <tbody>
                            <!-- Start: list_row -->

                            <!--<tr th:each="user : ${sa}" th:id="${user.user.name}">-->


                            <!--<td th:text="${user.user.name}">Onions</td>-->
                            <!--<td th:text="${user.user.username}">Onions</td>-->
                            <!--<td th:text="${user.stats.numberOfSuspects}">Onions</td>-->
                            <!--<td th:text="${user.stats.suspectConversionRatio}">Onions</td>-->
                            <!--<td>-->

                            <!--<a class="btn btn-raised btn-xs assign-btn">Assign</a>-->

                            <!--</td>-->

                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
            <div class="modalTarget del-modal col-xs-12 col-md-6">
                <div class="box">

                    <label>Client Was added to the pipeline by <span class="adder"></span></label>
                    <label >Client Assigned to <span class=" added"></span></label>
                    <div class="box-content">
                        <table class="table table-bordered  table-hover  table-datatable del-table" >
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th class="">Username</th>
                                <th class=""># of Client Brought</th>
                                <th class="">Deal Win Rate</th>
                                <th class="">Industry Amount</th>
                                <th class="">Industry Deals</th>
                                <th class="">Current Clients</th>
                                <!--<td>Assign</td>-->

                            </tr>
                            </thead>
                            <tbody>
                            <!-- Start: list_row -->

                            <!--<tr th:each="user : ${sa}" th:id="${user.user.name}">-->


                            <!--<td th:text="${user.user.name}">Onions</td>-->
                            <!--<td th:text="${user.user.username}">Onions</td>-->
                            <!--<td th:text="${user.stats.numberOfSuspects}">Onions</td>-->
                            <!--<td th:text="${user.stats.suspectConversionRatio}">Onions</td>-->
                            <!--<td>-->

                            <!--<a class="btn btn-raised btn-xs assign-btn">Assign</a>-->

                            <!--</td>-->

                            <!--</tr>-->
                            </tbody>
                        </table>
                        <div>
                            <button class="btn btn-raised btn-primary assign-delegates">Assign</button>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>

<div layout:fragment="script">


    <script th:inline="javascript">
        /*<![CDATA[*/

        var suspectTable;
        var saTable;
        var delTable;
        var salesRepUsername;


        var performanceOnIndustryUrl = [[@{/performanceOnIndustry}]];

        $(document).ready(function()
        {
            suspectTable = $('.suspect-table').DataTable(
                    {
                        "jQueryUI" : false,
                        "autoWidth": false,
                        "lengthChange" : true,
                        "lengthMenu" : [  10, 25, 50, 75, 100 ],
                        "order" : [ [ 7, 'desc' ] ],
                        "columnDefs" : [
                            {
                                "targets" : 'nosort',
                                "orderable" : false
                            },
                            {
                                "targets" : 'nosearch',
                                "searchable" : false
                            },
                            {
                                "targets" : 'noshow',
                                "visible" : false
                            },

                            {
                                "targets" : 'cannull',
                                "defaultContent" : "<i>Not set</i>"
                            },
                            {
                                orderable : false,
                                className : 'select-checkbox',
                                targets : 0
                            },
                        ],

                        "initComplete" : function(settings, json)
                        {

                        },
                        "rowCallback" : function(row, data, index)
                        {

                        },
                        "rowId": '1',
                        "dom" : 'lifrtp',

                        "renderer" : "bootstrap",

                        "responsive" :
                        {
                            "details" :
                            {
                                display : $.fn.dataTable.Responsive.display.modal(
                                        {
                                            header : function(row)
                                            {
                                                var data = row.data();
                                                return 'Details for ' + data[0] + ' ' + data[1];
                                            }
                                        }),
                                renderer : function(api, rowIdx, columns)
                                {
                                    var data = $.map(columns, function(col, i)
                                    {
                                        return '<tr>' + '<td>' + col.title + ':' + '</td> ' + '<td>' + col.data + '</td>' + '</tr>';
                                    }).join('');

                                    return $('<table class="table"/>').append(data);
                                }
                            }
                        },
                        "scrollX" : false,



                    });


            suspectTable.on('click', '.assign-btn', function()
            {
                var tr = $(this).closest('tr');
                var row = suspectTable.row(tr);

                var rowData = row.data();

                var url = [[@{/performanceByIndustry/}]] +rowData[5];

                ajaxJsonGET(url,{}, function (data) {


                    if(data.success) {


                        bootbox.dialog({
                            title: "Assign Sales Representative",
                            message: $(".sa-modal").html(),
                            onEscape: true,
                            size: "large"
                        });

                        saTable = $('.bootbox-body .sa-table').DataTable(
                                {
                                    "lengthChange": true,
                                    "autoWidth": false,
                                    "order": [[3, 'desc']],
                                    "columnDefs": [
                                        {
                                            "targets": 'nosort',
                                            "orderable": false
                                        },
                                        {
                                            "targets": 'nosearch',
                                            "searchable": false
                                        },
                                        {
                                            "targets": 'noshow',
                                            "visible": false
                                        },

                                        {
                                            "targets": 'cannull',
                                            "defaultContent": "<i>Not set</i>"
                                        },

                                    ],
                                    "columns": [
                                        {
                                            "data": "user.name"
                                        },
                                        {
                                            "data": "user.username"
                                        },
                                        {
                                            "data": "stats.clientActive"
                                        },
                                        {
                                            "data": "stats.dealWinRatio"
                                        },
                                        {
                                            "data": "industryAmount"
                                        },
                                        {
                                            "data": "industryDeals"
                                        },
                                        {
                                            "data": "clients"
                                        },

                                        {
                                            "data": "btn"
                                        },
                                    ],

                                    "initComplete": function (settings, json) {

                                    },
                                    "rowCallback": function (row, data, index) {

                                    },
                                    "dom": '<ifr<t>p>',


                                    "renderer": "bootstrap",

                                    "scrollX": false,

                                });

                        saTable.on('click', '.assign-btn', function () {

                            var tr = $(this).closest('tr');
                            var sarow = saTable.row(tr);

                            var sarowData = sarow.data();


                            console.log(sarowData);
//                        console.log(rowData);

                            var assaignUrl = [[@{/assignSalesRep/}]]+sarowData.user.username + '/' + rowData[0];
//
//                        alert(assaignUrl);

                            ajaxJsonGET(assaignUrl, {},

                                    function (data) {

                                        if(data.success)
                                        {
                                            bootbox.hideAll();

                                            bootbox.dialog({
                                                title: "Assign Delegates",
                                                message: $(".del-modal").html(),
                                                size: "large",
                                                onEscape: function() {
                                                    showStatus(false, "No delegates are assigned for "+rowData[1]);
                                                    row.remove().draw();

                                                },


                                            });



                                            $(".bootbox-body .assign-delegates").on('click',function(e)
                                            {

                                                var salesReps = delTable.rows({
                                                    selected:true
                                                }).data();


                                                var delegateStr = "";

                                                salesReps.each(function(row)
                                                {
                                                    delegateStr += row.user.username;
                                                    delegateStr += ";";
                                                });

                                                delegateStr = delegateStr.replace(/;\s*$/, "");

                                                console.log(delegateStr);


                                                var assaignDelUrl = [[@{/assignDelegates/}]] + rowData[0];
//
                                                var data = {

                                                    'delegateStr':delegateStr
                                                }

                                                if(empty(delegateStr))
                                                {
                                                    showStatus(false, "Select A sales Representatives to delegate");
                                                }else
                                                {



                                                    ajaxJsonPost(assaignDelUrl,data,function(data){


                                                        showStatus(data.success,data.msg);


                                                        if(data.success)
                                                        {
                                                            bootbox.hideAll();

                                                            row.remove().draw();
                                                        }

                                                    }, function () {

                                                    });



                                                }




                                                e.preventDefault();


                                            });

                                            delTable = $('.bootbox-body .del-table').DataTable(
                                                    {
                                                        "lengthChange": true,
                                                        "autoWidth": false,
                                                        "order": [[3, 'desc']],
                                                        "columnDefs": [
                                                            {
                                                                "targets": 'nosort',
                                                                "orderable": false
                                                            },
                                                            {
                                                                "targets": 'nosearch',
                                                                "searchable": false
                                                            },
                                                            {
                                                                "targets": 'noshow',
                                                                "visible": false
                                                            },

                                                            {
                                                                "targets": 'cannull',
                                                                "defaultContent": "<i>Not set</i>"
                                                            },
                                                            {
                                                                orderable: false,
                                                                className: 'select-checkbox',
                                                                targets:   0
                                                            }

                                                        ],
                                                        "columns": [
                                                            {
                                                                "data": "empty"
                                                            },
                                                            {
                                                                "data": "user.name"
                                                            },
                                                            {
                                                                "data": "user.username"
                                                            },
                                                            {
                                                                "data": "stats.clientActive"
                                                            },
                                                            {
                                                                "data": "stats.dealWinRatio"
                                                            },
                                                            {
                                                                "data": "industryAmount"
                                                            },
                                                            {
                                                                "data": "industryDeals"
                                                            },
                                                            {
                                                                "data": "clients"
                                                            },

//                                                            {
//                                                                "data": "btn"
//                                                            },
                                                        ],

                                                        "initComplete": function (settings, json) {

                                                        },
                                                        "rowCallback": function (row, data, index) {

                                                        },
                                                        "dom": '<ifr<t>p>',

                                                        "renderer": "bootstrap",
                                                        "scrollX": false,
                                                        select: {
                                                            style:    'multi',
                                                            selector: 'td:first-child'
                                                        },

                                                    });




                                            delTable.on('click', '.assign-delegate-btn', function () {

                                                var tr = $(this).closest('tr');
                                                var delrow = delTable.row(tr);

                                                var delRowData = delrow.data();

                                                delrow.remove().draw();

                                            });


//                                            alert(JSON.stringify(data.performance));


                                            $(' .adder').text(rowData[6]);
                                            $(' .added').text(sarowData.user.username);

                                            for (var i in data.performance) {

                                                delTable.row.add(data.performance[i]).draw();
                                            }


                                        }



                                    }, function () {


                                    });


                        });

                        $(' .adder').text(rowData[6]);

                        for (var i in data.data) {
                            saTable.row.add(data.data[i]).draw();
                        }



                    }else
                    {
                        showStatus(false,"Problem Fetching Sales representatives Info");
                    }



                }, function () {


                    showStatus(false,"Error In server. try again");
                });




            });





        });


        /*]]>*/
    </script>
</div>
</body>
</html>