<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:remove="tag" th:fragment="commonhead">


<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<base th:href="@{/}"></base>
<link th:href="@{/resources/devoops/plugins/bootstrap/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/bootstrap/bootstrap-theme.css}" rel="stylesheet" />
<link th:href="@{/resources/lib/css/bootstrap-horizon.css}" rel="stylesheet" />
<link th:href="@{/resources/lib/css/datatableCustom.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css' />
<link th:href="@{/resources/devoops/plugins/fancybox/jquery.fancybox.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/xcharts/xcharts.min.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/selectize/dist/css/selectize.default.css}" rel="stylesheet" />

<link th:href="@{/resources/devoops/css/style.css}" rel="stylesheet" />
<link th:href="@{/resources/lib/css/datatables.min.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/fullcalendar/fullcalendar.min.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.css}" rel="stylesheet" />





<!-- Material Design fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />


<!-- Bootstrap Material Design -->
<link th:href="@{/resources/devoops/plugins/materials/dist/css/bootstrap-material-design.css}" rel="stylesheet" />
<link th:href="@{/resources/devoops/plugins/materials/dist/css/ripples.min.css}" rel="stylesheet" />



<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
			<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
			<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
	<![endif] -->

</head>


<body>

	<!--Start Header-->
	<div id="screensaver">
		<canvas id="canvas"></canvas>
		<i class="fa fa-lock" id="screen_unlock"></i>
	</div>
	<div id="screensaver">
		<canvas id="canvas"></canvas>
		<i class="fa fa-lock" id="screen_unlock"></i>
	</div>
	<div id="modalbox">
		<div class="devoops-modal">
			<div class="devoops-modal-header">
				<div class="modal-header-name">
					<span>Basic table</span>
				</div>
				<div class="box-icons">
					<a class="close-link"> <i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="devoops-modal-inner"></div>
			<div class="devoops-modal-bottom"></div>
		</div>
	</div>


	<header th:fragment="navbar" class="navbar">
		<div class="container-fluid expanded-panel">
			<div class="row">
				<div id="logo" class="col-xs-12 col-sm-2">
					<a th:href="@{/}" th:text="#{app.title}">SalesBooster</a>
				</div>
				<div id="top-panel" class="col-xs-12 col-sm-10">
					<div class="row">
						<div class="col-xs-8 col-sm-4">
							<a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
							</a>
						</div>
						<div class="col-xs-4 col-sm-8 top-panel-right">
							<ul class="nav navbar-nav pull-right panel-menu">


								<li th:if="${session.roles.contains('SA')}" class="hidden-xs"><a th:href="@{/mySuspects}"> <i class="fa fa-user-plus"></i> <span class="badge suspect-badge">0</span>
								</a></li>

								<li th:if="${session.roles.contains('BM')}" class="hidden-xs"><a th:href="@{/unassignedProspects}"> <i class="fa fa-user"></i> <span class="badge prospect-badge">0</span>
								</a></li>

								<li class="hidden-xs"><a th:href="@{/notifications}"> <i class="fa fa-bell"></i> <span class="badge notification-badge">0</span>
								</a></li>
								<li class="hidden-xs"><a class="" th:href="@{/showCalendar}"> <i class="fa fa-calendar"></i> <span class="badge task-badge">0</span>
								</a></li>

								<li class="dropdown"><a href="#" class="dropdown-toggle account" data-toggle="dropdown">
										<div class="avatar">
											<img th:src="@{/resources/devoops/img/avatar.png}" class="img-rounded" alt="avatar" />
										</div> <i class="fa fa-angle-down pull-right"></i>
										<div class="user-mini pull-right">
											<span class="welcome">Welcome,</span> <span th:text="${session.fullname}"></span>
										</div>
								</a>
									<ul class="dropdown-menu">
										<li><a th:href="@{/profile}"> <i class="fa fa-user"></i> <span>Profile</span>
										</a></li>
										<li><a href="ajax/page_messages.html" class="ajax-link"> <i class="fa fa-envelope"></i> <span>Messages</span>
										</a></li>
										<li><a href="ajax/calendar.html" class="ajax-link"> <i class="fa fa-tasks"></i> <span>Tasks</span>
										</a></li>
										<li><a th:href="@{/usersettings}" class=""> <i class="fa fa-cog"></i> <span>Settings</span>
										</a></li>
										<li><a th:href="@{/logout}" th:text="#{logout}"> <i class="fa fa-power-off"></i> <span>Logout</span>
										</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--End Header-->



	<!--Start Container-->
	<div th:fragment="leftbar" id="main" class="container-fluid">
		<div class="row">
			<div th:fragment="sidebar" id="sidebar-left" class="col-xs-2 col-sm-2">
				<ul class="nav main-menu">
					<li><a th:href="@{/dashboard}" class="active"> <i class="fa fa-dashboard"></i> <span class="hidden-xs">Dashboard</span>
					</a></li>
					<li th:if="${false}"><a th:href="@{/fileuploader}" class=""> <i class="fa fa-upload"></i> <span class="hidden-xs">File Upload</span>
					</a></li>


					<li  class="dropdown"><a href="#" class="dropdown-toggle"> <i class="fa fa-users fa-lg"></i> <span
							class="hidden-xs">Stages</span>
					</a>
						<ul class="dropdown-menu">
							<li ><a th:href="@{/myClients}" class=""> <i class="fa fa-users"></i> <span class="hidden-xs">All
										Clients</span>
							</a></li>
							<li ><a th:href="@{/myClients/ACTIVE}" class=""> <i class="fa fa-users"></i> <span
									class="hidden-xs">Active Clients</span>
							</a></li>
							<li ><a th:href="@{/myClients/PROPOSED}" class=""> <i class="fa fa-users"></i> <span
									class="hidden-xs">Proposed Clients</span>
							</a></li>
							<li ><a th:href="@{/myClients/PROFILED}" class=""> <i class="fa fa-users"></i> <span
									class="hidden-xs">Profiled Clients</span>
							</a></li>
							<li ><a th:href="@{/myClients/PROSPECT}" class=""> <i class="fa fa-users"></i> <span
									class="hidden-xs">Prospects</span>
							</a></li>
							<li ><a th:href="@{/myClients/SUSPECT}" class=""> <i class="fa fa-users"></i> <span
									class="hidden-xs">Suspects</span>
							</a></li>
							<li ><a th:href="@{/myClients/REMOVED}" class=""> <i class="fa fa-users"></i> <span
									class="hidden-xs">Removed Clients</span>
							</a></li>
							<li ><a th:href="@{/myClients/EXCLIENT}" class=""> <i class="fa fa-users"></i> <span
									class="hidden-xs">Ex-Clients</span>
							</a></li>
						</ul></li>


					<li><a th:href="@{/myPipeline}" class=""> <i class="fa fa-list-ol"></i> <span class="hidden-xs">My
								Pipeline</span>
					</a></li>
					<li th:if="${session.roles.contains('BM')}"><a th:href="@{/salesTeam}" class=""> <i class="fa fa-list-ol"></i> <span class="hidden-xs">
								Sales Team</span>
					</a></li>


					<li class="dropdown"><a href="#" class="dropdown-toggle"> <i class="fa fa-plus-square fa-lg"></i>
							<span class="hidden-xs">Add Client</span>
					</a>
						<ul class="dropdown-menu">
							<li th:if="${session.roles.contains('SA')}" ><a class="" th:href="@{/searchGMap}"><i class="fa fa-google"></i> Search Google</a></li>
							<!--<li><a class="" th:href="@{/searchSD}">StreetDirectory.com</a></li>-->
							<li  ><a th:href="@{/createSuspect}" class=""> <i class="fa fa-user-plus"></i> <span class="hidden-xs">Add Client</span>
							</a></li>
							<!--<li><a class="" th:if="${false}" th:href="@{/OpRoute}">Optimal Route</a></li>-->
						</ul></li>
					<li th:if="${session.roles.contains('BM')}" class="dropdown"><a href="#" class="dropdown-toggle"> <i class="fa fa-users fa-lg"></i> <span
							class="hidden-xs">Client </span>
					</a>
						<ul class="dropdown-menu">

							<!--<li><a class="" th:href="@{/unassignedSuspects}">Unassigned Suspects </a></li>-->
							<li><a class="" th:href="@{/unassignedProspects}">Unassigned Prospects </a></li>
							<li><a class="" th:href="@{/assignedClients}">Assigned Clients</a></li>
						</ul></li>
					<li th:if="${session.roles.contains('BM')}" class="dropdown"><a href="#" class="dropdown-toggle"> <i class="fa fa-book fa-lg"></i> <span
							class="hidden-xs">Tutorials </span>
					</a>
						<ul class="dropdown-menu">
							<li ><a th:href="@{/tutorialsManager}" class=""> <i class="fa fa-book"></i> <span class="hidden-xs">Tutorials</span>
							</a></li>
							<li  ><a th:href="@{/createTutorial}" class=""> <i class="fa fa-pencil"></i> <span class="hidden-xs">Create New</span>
							</a></li>
						</ul></li>

					<li th:if="${session.roles.contains('SA')}" ><a th:href="@{/tutorials}" class=""> <i class="fa fa-book"></i> <span class="hidden-xs">Tutorials</span>
					</a></li>



					<li th:if="${session.roles.contains('BM')}" class="dropdown"><a href="#" class="dropdown-toggle"> <i class="fa fa-scribd fa-lg"></i> <span
							class="hidden-xs">Services </span>
					</a>
						<ul class="dropdown-menu">
							<li><a class="" th:href="@{/serviceManagement}">Service Management</a></li>
							<li><a class="" th:href="@{/serviceSettings}">Service Settings</a></li>
							<li><a class="" th:href="@{/salesTarget}">Sales Target</a></li>
						</ul></li>




					<li th:if="${session.roles.contains('SYS_ADMIN')}"><a th:href="@{/usermanagement}" class=""> <i class="fa fa-users"></i> <span
							class="hidden-xs">Usermanagement</span>
					</a></li>

				</ul>
			</div>


			<!--Start Content -->
			<div id="content" class="col-xs-12 col-sm-10">
				<div class="preloader">
					<img th:src="@{/resources/devoops/img/devoops_getdata.gif}" class="devoops-getdata" alt="preloader" />
				</div>
				<div id="ajax-content"></div>
			</div>
			<!--End Content -->
		</div>
	</div>
	<!--End Container-->



</body>
</html>