<header th:fragment="body">



	<div class="proposal-div">
		<div class="table-responsive">
			<table class="table table-bordered  table-hover  table-datatable prop-table">
				<thead>
					<tr>
						<th class="order noshow">ID</th>
						<th class="noshow">#Tasks</th>
						<th class="">Final Price</th>
						<th class="noshow">Cost</th>
						<th class="noshow">Profit</th>
						<th class="">Status</th>
						<th class="">Start</th>
						<th class="">End</th>
						<th class="noshow">Closed</th>
						<th class="">Expired</th>
						<th class="noshow">Discount</th>
						<th class="nosort nosearch">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="proposal:${proposals}">
						<td th:text="${proposal.id}"></td>
						<td th:text="${proposal.opportunities.size()}"></td>
						<td th:text="${proposal.discountedprice}"></td>
						<td th:text="${proposal.cost}"></td>
						<td th:text="${proposal.profit}"></td>
						<td th:text="${proposal.status}"></td>
						<td th:text="${proposal.start}"></td>
						<td th:text="${proposal.end}"></td>
						<td th:text="${proposal.closed? 'Yes':'No'}"></td>
						<td th:text="${proposal.expired? 'Yes':'No'}"></td>
						<td th:text="${proposal.discount}"></td>
						<td>
							<button class="btn btn-raised btn-xs quick-details" title="See Details">
								<i class="fa fa-eye fa-lg"></i>
							</button>
							<button class="btn btn-raised btn-xs detail-prop" title="Go to Details page of Proposal">
								<i class="fa fa-file-text-o fa-lg"></i>
							</button>
							<button class="btn btn-raised btn-xs delete-prop" title="Delete Proposal">
								<i class="fa fa-ban fa-lg"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div>
		<script th:inline="javascript">
			/*<![CDATA[*/

			/*]]>*/
		</script>
	</div>
</header>