<header th:fragment="main">

	<div>
		<!-- Nav tabs -->
		<ul class="nav  nav-pills" role="tablist">
			<li role="presentation" class="active"><a href="#requirments" aria-controls="tasks" role="tab" data-toggle="tab">Requirements</a></li>
			
			<li role="presentation"><a href="#proposals" aria-controls="timeline" role="tab" data-toggle="tab">Proposals</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="requirments">
				<div th:replace="fragments/client-details/requirements :: body"></div>
			</div>
			
			<div role="tabpanel" class="tab-pane " id="proposals">
				<div th:replace="fragments/client-details/proposals :: body"></div>
			</div>

		</div>
	</div>

</header>