<header th:fragment="body">
	<!-- 	<a class=" new-task-btn btn-lg btn-block btn btn-raised btn-primary">Add New Task</a> -->

	<div class="modalTarget modal-new-task box-content">
		<form method="post" th:action="@{/createTask}" class="task-create-form form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-sm-3 control-label ">Title</label>
					<div class="col-sm-5">
						<input type="text" class="form-control task-title" name="title" placeholder="Set Title"/>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-3 control-label">Task Type</label>
					<div class="col-sm-5">
						<select class="form-control task-type" name="type">
							<option th:each="type : ${T(com.worksap.stm.sb.type.TaskType).values()}" th:value="${type}" th:text="${type}"></option>
						</select>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label class="col-sm-3 control-label">Start</label>
					<div class="col-sm-5">
						<input type='text' class="form-control task-start" name="start" placeholder="Set Task Start Date and Time" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">End</label>
					<div class="col-sm-5">
						<input type='text' class="form-control task-end" name="end" placeholder="Set Task End Date and Time"/>
					</div>
				</div>
			</fieldset>


			<input type="text" class="" name="clientid" th:value="${data.id}" hidden="hidden" readonly="readonly" /> <input type="text" class=""
				name="clientstatus" th:value="${data.status}" hidden="hidden" readonly="readonly" /> <input hidden="hidden" name="srepresentative"
				th:value="${session.username}" />

			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-raised">Submit</button>
				</div>
			</div>
		</form>
	</div>


	<div class="modalTarget modal-edit-task box-content">
		
		<form method="post" class="task-edit-form form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-sm-3 control-label ">Title</label>
					<div class="col-sm-5">
						<input type="text" class="form-control task-title" name="title" value="gt" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Task Type</label>
					<div class="col-sm-5">
						<select class="form-control task-type" name="type">
							<option th:each="type : ${T(com.worksap.stm.sb.type.TaskType).values()}" th:value="${type}" th:text="${type}"></option>
						</select>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label class="col-sm-3 control-label">Start</label>
					<div class="col-sm-5">
						<input type='text' class="form-control task-start" name="start" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">End</label>
					<div class="col-sm-5">
						<input type='text' class="form-control task-end" name="end" />
					</div>
				</div>
			</fieldset>

			<fieldset>
				<div class="form-group toggle-button">
					<label class="col-sm-3 control-label">Is Completed</label>
					<div class="col-sm-5 ">
						<input type="checkbox" class="task-completed form-control" name="completed" />
					</div>
				</div>
			</fieldset>

			<input type="text" class="" name="clientid" th:value="${data.id}" hidden="hidden" readonly="readonly" /> <input type="text" class=""
				name="clientstatus" th:value="${data.status}" hidden="hidden" readonly="readonly" /> <input hidden="hidden" name="srepresentative"
				th:value="${session.username}" />


			<div class="form-group">
				<div class="col-sm-9 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-raised">Submit</button>
				</div>


			</div>
		</form>
	</div>


	<div class="task-table-div table-responsive">
		<table class="table table-striped  table-hover tasks-table" id="">
			<thead>
				<tr>
					<th class=" noshow">ID</th>
					<th class="">Heading</th>
					<th class="">Creator</th>
					<th class="">Type</th>
					<th class="noshow">Start</th>
					<th class="noshow">End</th>
					<th class="order">Completed</th>
					<th class="nosort nosearch">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task: ${tasks}">
					<td th:text="${task.id}">Onions</td>
					<td th:text="${task.title}">Onions</td>
					<td th:text="${task.srepresentative}">Onions</td>
					<td th:text="${task.type}">Onions</td>
					<td th:text="${task.start.toString('dd/MM/YYYY HH:mm')}">Onions</td>
					<td th:text="${task.end.toString('dd/MM/YYYY HH:mm')}">Onions</td>
					<td th:text="${task.status}">Onions</td>
					<td>
						<button class="btn btn-raised btn-xs quick-details" title="See Details">
							<i class="fa fa-eye fa-lg"></i>
						</button>
						<button class="edit-task btn btn-raised btn-xs" title="Edit Task">
							<i class="fa fa-pencil fa-lg"></i>
						</button>
						<button th:if="${task.srepresentative.equals(session.username)}" class=" btn btn-raised btn-xs delete-task" title="Delete Task">
							<i class="fa fa-ban fa-lg"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</header>